<%- include('partials/header') %>
<h2>This is the about page here you will get some information about the developer</h2>
<p>This is the about page of the website here you will get some information about the developer and the developer name is Raju kumar vishwakarma</p>

<%- include('partials/footer') %>